.container {
  max-width: 85%;
  margin: auto;
}

.logo {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 45px;
}

.center {
  text-align: center;
}

.main {
  max-width: 60%;
  margin: auto;
  margin-bottom: 45px;
}

form div input {
  width: 65%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 15px; 
  padding: 10px;
  color: #000;
}

form div textarea {
  width: 65%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 15px; 
  padding: 10px;
  color: #000;
}

form div {
  text-align: center;
}

.error {
  color: red;
}

button {
  width: 100px;
  height: 40px;
  background: #003dff;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}